{name, "exmpp"}.
{description, "Erlang XMPP library"}.
{homepage, "http://www.process-one.net/en/labs/"}.
{url, {git, "https://github.com/processone/exmpp.git", {branch, "master"}}}.
{authors, ["ProcessOne"]}.
{license, "Erlang Public License 1.1", "EPLICENSE"}.
{applications, [exmpp]}.
{build_command, "$AGNER_PACKAGE_REPO/build.sh"}.
{install_command, "make install"}.
